# **Video Game Sale**

# **Import Library**

In [1]:
import pandas as pd

# **Memuat Dataset**

In [4]:
file = "/vgsales.csv"
df = pd.read_csv(file)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Bussnies Understanding**

## **Bussnies Objective**

**Deskripsi Data**
Data ini merupakan data penjualan video game di seluruh dunia yang berhasil terjual lebih dari 100.000 kopi. Di dalamnya terdapat informasi mulai dari Genre (jenis permainan), *Platform*(konsol yang digunakan), Tahun Rilis, hingga angka penjualan spesifik di beberapa *Region* seperti Amerika Utara, Eropa, dan Jepang.

Industri video game adalah industri yang bernilai miliaran dolar, namun persaingannya sangat ketat. Banyak pengembang game (*developer*) dan penerbit (*publisher*) mengalami kerugian karena merilis game yang tidak sesuai dengan selera pasar. Masalah utamanya adalah sulitnya menentukan kombinasi *Genre*, *Platform*, dan target pasar (*Region*) yang tepat untuk memaksimalkan keuntungan.

## **Asses Situation**

**Kondisi Dataset:**
Saya menggunakan dataset `vgsales.csv` yang bersumber dari Kaggle.
* Dataset ini memiliki lebih dari 16.500 data penjualan.
* Terdiri dari kolom penting seperti `Rank`, `Name`, `Platform`, `Year`, `Genre`, `Publisher`, dan data penjualan per wilayah (`NA_Sales`, `EU_Sales`, `JP_Sales`, `Other_Sales`).

**Tantangan & Risiko:**

* Terdapat beberapa data tahun dan penerbit yang kosong, sehingga perlu dibersihkan nanti.
* Data yang dominan mencakup game lama dari sekitar tahun 2016-2020. Sehingga game terbaru mungkin tidak terlalu terekspos.

## **Analytic Goals Projects Plan**

* Membuat grafik batang dan pie chart untuk melihat distribusi *Genre* terpopuler dan *Platform* dengan penjualan tertinggi.

* Mencari hubungan antara wilayah penjualan. misalnya, Apakah game yang laku di Jepang bisa laku di Amerika?

## **Project plan**

* Mengecek isi data dan seberapa banyak data tahun/penerbit yang kosong.
* Membersihkan data yang kosong agar siap diolah.